{
    "extends": "airbnb-base",
    "parser": "babel-eslint",
    "env": {
        "node": true,
        "es6": true
    },
    "rules": {
        "arrow-parens": 0,
        "function-paren-newline": 0
    }
}